@import '../../scss/index.scss';

.profile-client {
    padding: 15px;

    .ui.floated.header {
        text-transform: capitalize;
    }
}

.profile__navBar {
    height: 35px;
    display: flex;
    padding-left: 12px;
    align-items: center;
    font-size: 12px;
    background-color: $background-primary;
    font-weight: bold;
}