@import '../../../scss/index.scss';
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.ui.message {
    background-color: #bf4342 !important;

    .header {
        color: white !important;
        font-family: Quicksand;
    }
}

.cardInfo {
    &__content {
        overflow: hidden !important;
    }
}