@import '../../scss/index.scss';

.clients-section {

    &__pagination {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    // &__contador {
    //     padding: 7px 15px;
    //     border-radius: 7px;
    //     background-color: $font-primary;
    //     color: white;
    //     font-weight: bold;
    // }
}