@import '../../scss/index.scss';

.searchBar {
    display: flex;
    align-items: baseline;

    &__inputName {
        margin: 0;
        // width: 15%;
    }
}

.ui.form {
    .fields {
        margin: 0px;
        margin-left: -5px;
    }
}