@import '../../scss/index.scss';

.card-home {
    width: 250px;
    height: 85px;
    border-radius: 8px;
    background-color: $background-primary;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        text-align: center;

        >h3 {
            padding-top: 10px;
            font-size: 14px;
            text-transform: uppercase;
            color: $font-primary;
        }
    }

    &__content {
        padding-top: 10px;
        font-size: 25px;
    }
}