@import '../../scss/index.scss';

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__iconb {
        cursor: pointer;
        text-align: center;

        &:hover {
            opacity: 0.6;

            >p {
                opacity: 1.0;
            }
        }

        &__textWarning {
            padding-top: 5px;
            opacity: 0.0;
            font-size: 17px;
            color: $font-dark;
        }
    }
}

// .home {
//     margin: 20px;

//     &__contentPrimary {
//         height: 20vh;
//         display: flex;
//         justify-content: space-evenly;
//     }
// }