@import '../../scss/index.scss';

.attendance {
    height: 100vh;
    padding: 15px;
    overflow-y: scroll;

    &__header {

        >h2 {
            color: $font-primary;
        }
    }

    &__subHeader {
        display: flex;

        .ui.button {
            margin-left: 10px;
            height: 90%;

            &:hover {
                background-color: $font-primary;
                color: white;
            }
        }
    }

    &__content {
        margin-top: 15px;
    }
}